body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: sans-serif;
  overflow: hidden;
}

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

section {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
  transition: all .3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;
}
.card:hover {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}
.card .index {
  background-color: rgba(0, 0, 0, .2);
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 10px;
}
.card .price {
  margin: 0;
  padding: 10px 0;
  font-weight: bold;
}
.card .details {
  position: relative;
}
.card .features {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.card .features li {
  padding-left: 24px;
  margin-right: 10px;
  display: inline-block;
}
.card .features li span {
  display: none;
}
.card .features li.icon-bed {
  background: url(./assets/bed-left-side.svg) left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.card .features li.icon-bath {
  background: url(./assets/bathtub.svg) left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.card .features li.icon-car {
  background: url(./assets/car-compact.svg) left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
